.u-font--200 {
  font-weight: 200;
}

.u-font--300 {
  font-weight: 300;
}

.u-font--500 {
  font-weight: 500;
}

.u-font--600 {
  font-weight: 600;
}

.u-font--700 {
  font-weight: 700;
}

.u-font--800 {
  font-weight: 800;
}
