// Typography
$base-font-family: 'San Francisco', $font-stack-system;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;

$base-spacing: 1.5rem;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $large-spacing * 2;
$small-spacing: $base-spacing / 2;
$xsmall-spacing: $small-spacing / 2;
$xxsmall-spacing: $xsmall-spacing / 2;

$square-size: 2rem;

$large-font-size: 1.2rem;
$base-font-size: 1rem;
$medium-font-size: 0.8rem;
$small-font-size: 0.6rem;

// Z-indices
$base-z-index: 0;

// Colors
$black: #060606;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
