<h1>Welcome#index</h1>
<<<<<<< HEAD
<p>Find me in <em>app/views/welcome/index.html.erb</em></p>
=======
<p>Find me in app/views/welcome/index.html.erb</p>

<details>
  <summary>
    <%= t(".title") %>
  </summary>

  <section>
    Black squares: 0
  </section>

  <section>
    Average word length: 0
  </section>
</details>
>>>>>>> Hide disclosure marker in HTML detail elements
