.puzzle-grid {
  background-color: $black;
  display: inline-grid;
  grid-gap: 1px;
  grid-template-columns: repeat(var(--columns), $square-size);
  grid-template-rows: repeat(var(--rows), $square-size);
  padding: $xxsmall-spacing;
}
