.stats__expanded {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: $small-spacing;
}

.stats__label {
  color: $medium-gray;
  font-size: $medium-font-size;
  font-weight: 500;
  text-transform: uppercase;
}

.stats__stat {
  font-size: $xlarge-font-size;
  font-weight: 300;
}

.stats__summary {
  font-size: $medium-font-size;
  font-weight: 700;
}
